/* Colours */

/* To be completed - background bg-gray-300
Finished - background bg-white

Text and finished sections where relevant
    - text-black
    - text-purple-300
    - text-purple-500
    - text-purple-700

Text sizes
    - text-xs (12px) used
    - text-sm (14px) used
    - text-base (16px) used
    - text-lg (18px) used
    - text-xl (20px)
    - text-2xl (24px) used
    - text-3xl (30px)
    - text-4xl (36px)
    - text-5xl (48px)
    - text-6xl (60px) used */


#hero-image {
    background: url("../images/purple-background.jpg") no-repeat center center;  
    width: 100%;
    background-size: cover; 
    padding: 0;
}
