{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages with Jinja if statments, with statements and for loops -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="w-full flashes text-center py-4 bg-[#5bc0de] text-white">
                    <h2 class="flash-messages">
                        {{ message }}
                    </h2>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<!-- Add blog post form -->
<section class="bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400 min-h-screen">
    <form method="POST" action="{{ url_for('add_post') }}">
        <div class="max-w-screen-xl mx-auto p-8">
            <div class="space-y-4 flex flex-col items-center" aria-labelledby="contact-me">
                <p class="text-lg md:text-2xl font-bold text-purple-900">
                    Add Post
                </p>
                <div class="form-group">
                    <select id="category_name" name="category_name" class="validate w-80 form-control text-gray-500" required>
                        <option value="" disabled selected>Select Category*</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-80 form-group">
                    <input id="blog_name" name="blog_name" type="text" minlength="1" maxlength="100" class="validate px-3 py-[6px] form-control" placeholder="Blog Name*" required>
                </div>
                <div class="w-80 h-80 form-group">
                    <textarea id="blog_details" name="blog_details" type="text" minlength="1" maxlength="500" class="validate h-80 px-3 form-control" placeholder="Blog Details*" required></textarea>
                </div>

                <!-- <div class="">
                    <input id="publish_date" name="publish_date" type="text" minlength="1" maxlength="100" class="validate w-80 px-1 rounded" placeholder="Publish Date*">
                </div> -->
                
                <div class="input-group date datepicker w-80 form-group">   
                    <input id="publish_date" name="publish_date" type="date" class="form-control validate px-3 text-gray-500">
                </div>
            </div>
            <div class="py-8 text-center flex items-center justify-center space-x-2 mb-48">
                <button 
                    type="submit" value="submit"
                    class="bg-purple-900 hover:bg-lime-700 active:bg-lime-900 focus:outline-none focus:ring focus:ring-lime-900
                    text-white py-1 px-4 rounded-full"
                    >Add
                </button>
                <div class="">
                    <a 
                        aria-label="Logout" href="{{ url_for('blog_admin') }}"
                        class="bg-purple-900 hover:bg-lime-700 active:bg-lime-900 focus:outline-none focus:ring focus:ring-lime-900
                        text-white py-[3px] px-4 rounded-full"
                        >Back
                    </a>
                </div>
            </div>
        </div>
    </form> 
</section>

{% endblock %}