<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for good SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Liam Walsh">
    <!-- Bootstrap for Modal -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- FontAwesome Icons Script tag from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <!-- Google font Hind -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Tailwind CSS and custom CSS scripts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <!-- Head tab icon using https://gauger.io/fonticon/-->
    <link rel="icon" type="image/ico" href="static/images/favicon.png" />
    <title>thecouragetobe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" 
        integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Local JS script for sendEmail.js -->
    <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function(){
            emailjs.init("yB1DmUyNHp8qzGMD-");
        })();
    </script>
</head>

<body>
    <style>
        body {
          font-family: "Hind", sans-serif;
        }
    </style>
    <header class="bg-white sticky top-0 border-b border-purple-500 z-10">
        <!-- Main Navbar -->
        <div class="px-8 py-4 flex items-center justify-between hidden lg:flex" aria-labelledby="Main Navbar">
            <div>
                <a aria-label="Home" href="{{ url_for('index') }}"><h1 class="text-2xl font-bold text-purple-900 hover:text-purple-700">thecouragetobe.org</h1></a>
                <h2 class="font-medium text-purple-400">Brian Walsh Counselling</h2>
            </div>
            <nav>
                <ul class="flex space-x-2 lg:space-x-6 xl:space-x-8 text-purple-700 font-medium text-sm lg:text-xs xl:text-sm"> 
                    <li><a aria-label="Home" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('index') }}">Home</a></li>
                    <div class="border-1 border-rose-200"></div>
                    <li><a aria-label="What is counselling" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#counselling">What is Counselling</a></li>
                    <div class="border-1 border-rose-200"></div>
                    <li><a aria-label="Supervision and staff care" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#supervision">Supervision and Staff Care</a></li>
                    <div class="border-1 border-rose-200"></div>
                    <li><a aria-label="Contact and fees" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#contact-form">Contact and Fees</a></li>
                    <div class="border-1 border-rose-200"></div>
                    <li><a aria-label="Protecting you" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('protecting_you') }}">Protecting You</a></li>
                    <div class="border-1 border-rose-200"></div>
                    <li><a aria-label="Blog" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('thecouragetobe_blog') }}">Blog</a></li>
                </ul>
            </nav>
        </div>
        <!-- Mobile sidenav -->
        <div x-data="{ open: true }" aria-labelledby="Mobile Navbar">
            <div class="py-2 flex justify-between px-4 lg:hidden">
                <div>
                    <a aria-label="Home" href="{{ url_for('index') }}"><h1 class="text-2xl font-bold text-purple-900 hover:text-purple-700">thecouragetobe.org</h1></a>
                    <h2 class="font-medium text-purple-400">Brian Walsh Counselling</h2>
                </div>
                <nav id="top" class="lg:hidden mt-2">
                    <button 
                        type="button"
                        @click="open = ! open"
                        @keydown.escape="open = true">
                    <span class="sr-only">Open main menu</span>
                        <svg x-show="open"
                        
                            class="h-8 w-8 sm:w-10 sm:h-10 text-black"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg x-show="! open"
                        
                            class="h-8 w-8 sm:w-10 sm:h-10 text-black"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </nav>
            </div>
            <!-- Mobile Dropdown -->
            <div class="bg-white w-full text-center py-8" 
            x-show="! open" @click.outside="open = true" aria-labelledby="Mobile Dropdown">
                <ul class="flex flex-col text-purple-700 space-y-4"> 
                    <li><a aria-label="Home" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('index') }}">Home</a></li>
                    <div class="flex flex-col items-center">
                        <div class="border-1 border-rose-200 border-b w-1/2 sm:w-1/4"></div>
                    </div>
                    <li><a aria-label="What is counselling" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#counselling">What is Counselling</a></li>
                    <div class="flex flex-col items-center">
                        <div class="border-1 border-rose-200 border-b w-1/2 sm:w-1/4"></div>
                    </div>
                    <li><a aria-label="Supervision and staff care" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#supervision">Supervision and Staff Care</a></li>
                     <div class="flex flex-col items-center">
                        <div class="border-1 border-rose-200 border-b w-1/2 sm:w-1/4"></div>
                    </div>
                    <li><a aria-label="Contact and fees" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="https://thecouragetobe.herokuapp.com/#contact-form-mobile">Contact and Fees</a></li>
                    <div class="flex flex-col items-center">
                        <div class="border-1 border-rose-200 border-b w-1/2 sm:w-1/4"></div>
                    </div>
                    <li><a aria-label="Procecting you" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('protecting_you') }}">Protecting You</a></li>
                    <div class="flex flex-col items-center">
                        <div class="border-1 border-rose-200 border-b w-1/2 sm:w-1/4"></div>
                    </div>
                    <li><a aria-label="Blog" class="hover:text-purple-400 active:text-purple-400 focus:text-purple-400" href="{{ url_for('thecouragetobe_blog') }}">Blog</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="2xl:max-w-screen-xl mx-auto" aria-labelledby="footer">
        <div class="px-8 py-4 flex items-center justify-center lg:justify-between">
            <div class="hidden lg:block">
                <a aria-label="BACP website homepage" href="https://www.bacp.co.uk/" target="_blank">
                    <img class="w-28 sm:w-32 h-12 sm:h-14" src="{{ ('static/images/bacp.png') }}" alt="BACP logo"> 
                </a>
            </div>
            <div>
                <div class="text-center space-x-4">
                    <a aria-label="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square text-3xl text-[#3b5998] hover:text-purple-900 active:text-purple-900"></i></a>
                    <a aria-label="Email" href="mailto: brianwalshcounselling@gmail.com" target="_blank"><i class="fa-solid fa-square-envelope text-3xl text-[#c4302b] hover:text-purple-900 active:text-purple-900"></i></a>
                    <a aria-label="Blog" href="{{ url_for('thecouragetobe_blog') }}"><i class="fa-solid fa-blog text-3xl text-[#fc4f08] hover:text-purple-900 active:text-purple-900"></i></a>
                </div>
                <p class="text-purple-700">&copy Brian Walsh Councelling</p>
            </div>
            <div class="hidden lg:block">
                <a aria-label="" href="" target="_blank">
                    <img class="w-24 h-24" src="{{ ('static/images/certified-counsellor.png') }}" alt="Certified Counsellor logo"> 
                </a>
            </div>
        </div>
    </footer>

    <!-- JQuery script from https://code.jquery.com/ to enable JQuery usage -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Local script for JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Bootstrap for Modal -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
    
    {% block scripts %}
    {% endblock %}
</body>

</html>