<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for good SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Liam Walsh">
    <!-- FontAwesome Icons Script tage from cdnjs.com -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Head tab icon using https://gauger.io/fonticon/-->
    <link rel="icon" type="image/ico" href="static/images/favicon-head-icon.ico" />
    <!-- Local script for CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" 
        integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>thecouragetobe </title>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js" 
        integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- External script with emailjs with unique user ID added -->
    <script>
        (function(){
            emailjs.init("user_72YpepHSLHlF3N4Wn6Vnw");
        })();
    </script>
</head>

<body class="bg-gray-300">
    <header class="bg-white">
        <!-- Main Navbar -->
        <div class="py-2 flex items-center justify-around max-w-screen-2xl container mx-auto px-2 hidden lg:flex">
            <div class="space-y-1">
                <h1 class="text-2xl font-bold">thecouragetobe.org</h1>
                <h2>Brian Walsh Counselling</h2>
            </div>
            <nav>
                <ul class="flex space-x-8 text-red-500 text-xs"> 
                    <li><a aria-label="Proctors Model" href="{{ url_for('index') }}">Home</a></li>
                    <div class="border border-l border-black"></div>
                    <li><a aria-label="Proctors Model" href="">What is Counselling</a></li>
                    <div class="border border-l border-black"></div>
                    <li><a aria-label="Proctors Model" href="">Supervision and Staff Care</a></li>
                    <div class="border border-l border-black"></div>
                    <li><a aria-label="Proctors Model" href="">Contact and Fees</a></li>
                    <div class="border border-l border-black"></div>
                    <li><a aria-label="Proctors Model" href="{{ url_for('protecting_you') }}">Protecting You</a></li>
                </ul>
            </nav>
        </div>

    
        <!-- Mobile sidenav -->
        <div>
            <div class="py-2 flex justify-between container mx-auto px-4 lg:hidden">
                <div class="space-y-1">
                    <h1 class="text-2xl font-bold">thecouragetobe.org</h1>
                    <h2>Brian Walsh Counselling</h2>
                </div>
                <nav class="mt-2">
                    <button type="button"
                        class="inline-flex items-center justify-center
                        focus:outline-none focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                        @click="expanded = ! expanded"
                        @keydown.escape="expanded = true">
                    <span class="sr-only">Open main menu</span>
                        <svg x-show="expanded"
                            class="h-6 w-6 sm:w-8 sm:h-8 text-black"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg x-show="! expanded"
                            class="h-6 w-6 sm:w-8 sm:h-8 text-black"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <!-- Footer -->
    <footer>
        Footer
    </footer>
    
    <!-- Local JS script for sendEmail.js -->
    <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>