{% extends "base.html" %}
{% block content %}

<section id="home" class="bg-white">
    <div id="hero-image" class="h-screen">
        <div class="max-w-screen-xl mx-auto px-8 pt-8 pb-40 text-left flex flex-col justify-center space-y-8"> 
        <!-- <div class="max-w-screen-xl mx-auto px-8 text-center h-96 lg:h-screen space-y-1 flex flex-col justify-center">  -->
            <div class="">
                <h1 class="text-lg md:text-2xl font-bold text-center pb-4">
                    thecouragetobe blog coming soon
                </h1>
                <a aria-label="Home" href="{{ url_for('index') }}"><i class="fa-solid fa-house text-3xl flex flex-col items-center"></i></a>
            </div>
        </div>
        <!-- {% for blog in blogs %}<br>
            {{ blog.blog_name }}<br>
            {{ blog.blog_details }}<br>
            {{ blog.publish_date }}<br>
        {% endfor %} -->
    </div>
</section>

{% endblock %}
