{% extends "base.html" %}
{% block content %}

    <!-- Contact form -->
    
        <section class="bg-gradient-to-b from-lime-700 to-stone-500 via-lime-200" id="contact-form">
            <form onsubmit="return sendMail(this);" method="get, post">
                <div class="max-w-screen-xl mx-auto p-8 space-y-8 md:space-y-0 flex flex-col md:flex-row">
                    <div class="space-y-4 flex flex-col items-center md:w-1/2">
                        <p class="text-lg md:text-2xl font-bold">
                            Contact Me
                        </p>
                        <div class="">
                            <input id="name" name="name" type="text" minlength="1" maxlength="100" class="validate w-80 pl-1 rounded" placeholder="Name" required>
                        </div>
                        <div class="">
                            <input id="email" name="email" type="email" minlength="1" maxlength="100" class="validate w-80 pl-1 rounded" placeholder="Email Address " required>
                        </div>
                        <div class="">
                            <input id="number" name="number" type="number" minlength="1" maxlength="11" pattern="^[a-zA-Z]{1,100}$" class="validate w-80 pl-1 rounded" placeholder="Contact Number" required>
                        </div>
                        <div class="">
                            <input id="age" name="age" type="number" minlength="1" maxlength="3" pattern="^[a-zA-Z]{1,100}$" class="validate w-80 pl-1 rounded" placeholder="Age">
                        </div>
                        <div class="">
                            <textarea id="message" name="message" type="text" minlength="10" maxlength="200" class="validate w-80 h-24 pl-1 rounded" placeholder="Other Information" ></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="bg-purple-700 hover:bg-rose-600 active:bg-rose-700 focus:outline-none focus:ring focus:ring-rose-300
                            text-white py-1 px-4 rounded-full"
                            
                            >Take the step</button>
                        </div>
                        <p>
                            Telephone: 07973 953528
                        </p>
                    </div>
                    <div class="space-y-4 text-center md:w-1/2">
                        <p class="text-lg md:text-2xl font-bold">
                            My Fees
                        </p>
                        <p>
                            Counselling one to one from £45.00 per session
                        </p>
                        <p>
                            Supervision/Staff Care from £45.00 per session
                        </p>
                        <p>
                            Group counselling from £65.00 per session
                        </p>
                        <div class="flex flex-col items-center">
                            <div class="border border-black border-b w-2/3"></div>
                        </div>
                        <div class="space-y-4 flex flex-col items-center">
                            <p class="">
                                All sessions are 50 minutes long with 10 minutes for my own reflection and note taking. 
                            </p>
                            <p class="">
                                I have reduced rates for students and people on reduced incomes/benefits. Please contact me for more information
                            </p>
                            <p class="">
                                I do not ask for proof as, from the outset, our relationship is built on trust
                            </p>
                        </div>
                    </div>
                </div>
            </form> 
        </section>
        
{% endblock %}