{% extends "base.html" %}
{% block content %}

    <!-- Subheader text -->
    <section>
        <div id="hero-image">
            <div class="max-w-screen-xl mx-auto px-8 text-center h-96 space-y-1 flex flex-col justify-center"> 
                <h1 class="text-lg md:text-2xl font-bold">
                    Welcome to Brian Walsh Counselling
                </h1>
                <h2 class="text-sm md:text-base pb-4">
                    Brian Walsh Dip. Couns. Reg.MBACP
                </h2>
                <h1 class="text-lg md:text-2xl font-bold">
                    The Mission:
                </h1>
                <h2 class="text-sm md:text-base italic">
                    “To meet empathically in the ‘here and now’, make sense of the past and choose an authentic future”
                </h2>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto p-8 text-center space-y-8">
            <p>
                I am qualified at diploma level in Integrative counselling. This means that we will draw upon techniques 
                from a variety of models and approaches as we explore issues that you, the client, may bring to therapy.
            </p>
            <p>
                To anyone new to counselling this may sound a daunting prospect and the fear and anxiety of engaging with 
                an ‘expert’ may seem overwhelming.
            </p>
            <p>
                My personal focus is on the client-counsellor relationship that I believe is the over-riding and most 
                important contribution to positive growth, change and self-acceptance; you are the expert, I bring the expertise.
            </p>
            <p>As well as my passion for the Person-Centred approach I have a deep interest in the search for meaning in one’s life. 
                Together we can explore the anxieties that life inevitably lays upon each one of us.
            </p>
            <p>
                I am experienced working within the education sector, supporting children and their families with whatever issues they 
                bring to our sessions. These may include difficulties with attachment, self-esteem, bereavement & loss, domestic 
                violence, family breakdown and the countless other challenges that come with living today.
            </p>
            <p>
                I am also a clinical supervisor; working with other professionals on their cases as well as their personal and professional well-being.
            </p>
            <p>
                I practice in South-West Birmingham as well as meeting clients in their place of work or other suitable settings. I do home visits. 
            </p> 
        </div>
    </section>
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto px-8 pb-8 flex flex-col items-center md:flex-row md:justify-center md:space-x-24 lg:space-x-52 md:space-y-0">
            <div class="flex flex-col items-center pb-8 md:pb-0">
                <div class="w-36 h-36 rounded-full flex items-center justify-center 
                bg-gradient-to-br from-violet-900 to-pink-800 via-pink-400
                md:bg-gradient-to-br md:from-violet-900 md:to-pink-200 md:via-pink-400">
                    <i class="fa-solid fa-award text-6xl"></i>
                </div>
                <div class="text-lg md:text-2xl font-bold my-2">My Qualifications</div>
                <ul class="text-sm lg:text-base text-center space-y-2">
                    <li>Level 3 Certificate in Counselling Skills and Theory</li>
                    <li>Level 4 Diploma in Integrative Counselling</li>
                    <li>Diploma in Supervision</li>
                    <li>Certificate in Spiritual Care</li>
                    <li>Certificate in Cognitive Behavioural Therapy</li>
                    <li>Certificate in Solution-Focused Brief Therapy</li>
                </ul>
            </div>
            
            <div class="flex flex-col items-center">
                <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                    <i class="fa-solid fa-heart text-6xl"></i>
                </div>
                <div class="text-lg md:text-2xl font-bold my-2">Keeping You Safe</div>
                <ul class="text-sm lg:text-base text-center space-y-2">
                    <li>I am a registered member (103666) of BA​​CP <br>and adhere to its Ethical Framework​</li>
                    <li>I receive regular clinical supervision</li>
                    <li>I hold appropriate public liability insurance</li>
                    <li>Certificate in Spiritual Care</li>
                    <li>I am committed to regular Continuing Professional</li>
                    <li></li>

                </ul>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto flex justify-center">
            <img class="w-full md:w-3/4" src="{{ ('static/images/pebbles-background.jpg') }}" alt="pebble stepping stones">
        </div>
    </section>
    <section class="bg-white ">
        <div class="max-w-screen-xl mx-auto p-8 text-center flex flex-col lg:flex-row items-center">
            <div class="pb-8 lg:pb-0 space-y-8 lg:w-3/4">
                <div class="text-lg md:text-2xl font-bold my-2">What is Counselling ?</div>
                <p>
                    The British Association for Counselling and Psychotherapy (BACP) defines counselling and psychotherapy as:
                </p>
                <p class="italic">
                    "...umbrella terms that cover a range of talking therapies. They are delivered by trained practitioners who 
                    work with people over a short or long term to help them bring about effective change or enhance their well-being."
                </p>
                <p>
                    The aim of a professionally trained counsellor is to help clients to uncover feelings, memories, judgements 
                    (self and by others) that are somehow preventing a more fulfilled, self-accepting life.
                </p>
            
                <p>
                    To anyone new to counselling this may sound a daunting prospect and the fear and anxiety of engaging with an ‘expert’ 
                    may seem overwhelming. Having sat in both chairs, so to speak, I understand the possible fears of being 'overpowered' 
                    as well as the dread of being judged. An effective and self-aware counsellor will work hard to ensure that she or he 
                    doesn't add to your difficulties by being judgemental or overbearing. However, these feelings can be useful areas for 
                    exploration.  
                </p> 
            </div>
            <div class="lg:pl-12 flex justify-center">
                <img class="w-40 md:w-52 h-40 md:h-52" src="{{ ('static/images/what-is-counselling.png') }}" alt="Empathy, Congruence and Unconditional positive regard"> 
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto flex justify-center">
            <img class="w-full md:w-3/4" src="{{ ('static/images/green-background.jpg') }}" alt="pebbles stacked up">
        </div>
    </section>
    <section>
        Supervision and Staff Care
    </section>
    <section>
        Contact
    </section>
{% endblock %}

<!-- <div class="flex flex-col items-center md:flex-row md:justify-center md:py-4 md:space-x-60 md:space-y-0 pb-4"></div>
    <div class="w-36 h-36 bg-purple-700 rounded-full flex items-center justify-center">
        <i class="fa-solid fa-heart text-6xl"></i>
    </div>
</div> -->