{% extends "base.html" %}
{% block content %}

    <!-- Hero Image, welcome message and mission statement -->
    <section class="bg-white">
        <div id="hero-image">
            <div class="max-w-screen-xl mx-auto px-8 text-center py-24 sm:py-36 md:py-48 lg:py-60 xl:py-80 2xl:py-96 flex flex-col justify-center"> 
                <div class="flex flex-col items-center" aria-labelledby="head-image">
                    <div id="head-image" class="h-28 lg:h-56 w-24 lg:w-48 border-2 border-white opacity-90 rounded"></div>
                </div>
                <div class="pt-8" aria-labelledby="welcome-message">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900">
                        Welcome to Brian Walsh Counselling
                    </h1>
                    <h2 class="text-sm md:text-base">
                        Brian Walsh Dip. Couns. Reg.MBACP
                    </h2>
                </div>
                <div class="pt-4" aria-labelledby="mission-statement">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900">
                        The Mission:
                    </h1>
                    <h2 class="text-sm md:text-base italic text-purple-100 md:text-[#212529]">
                        “To meet empathically in the ‘here and now’, make sense of the past and choose an authentic future”
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <!-- About Brian -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto p-8 text-center space-y-8" aria-labelledby="about-brian">
            <h1 class="text-lg md:text-2xl font-bold text-purple-900">
                About Brian
            </h1>
            <p>
                I am qualified at diploma level in Integrative counselling. This means that we will draw upon techniques 
                from a variety of models and approaches as we explore issues that you, the client, may bring to therapy.
            </p>
            <p>
                My personal focus is on the client-counsellor relationship that I believe is the over-riding and most 
                important contribution to positive growth, change and self-acceptance; you are the expert, I bring the expertise.
            </p>
            <p>As well as my passion for the Person-Centred approach I have a deep interest in the search for meaning in one’s life. 
                Together we can explore the anxieties that life inevitably lays upon each one of us.
            </p>
            <p>
                I am experienced working within the education sector, supporting children and their families with whatever issues they 
                bring to our sessions. These may include difficulties with attachment, self-esteem, bereavement & loss, domestic 
                violence, family breakdown and the countless other challenges that come with living today.
            </p>
            <p>
                I am also a clinical supervisor; working with other professionals on their cases as well as their personal and professional well-being.
            </p>
            <p>
                I practice in South-West Birmingham as well as meeting clients in their place of work or other suitable settings. I do home visits. 
            </p> 
        </div>
    </section>
    <!-- Qualifications and Keeping you safe -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto px-8 pb-8 md:pb-20 lg:pb-36 flex flex-col items-center md:flex-row md:justify-center md:space-y-0">
            <div class="flex flex-col items-center pb-8 md:pb-0 w-full md:w-1/2" aria-labelledby="qualifications">
                <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-br from-violet-900 to-pink-800 via-pink-400">
                    <i class="fa-solid fa-award text-6xl text-indigo-800"></i>
                </div>
                <div class="text-lg md:text-2xl font-bold my-4 text-center text-purple-900">My Qualifications</div>
                <div class="md:max-h-40 lg:max-h-20 space-y-2 text-center">
                    <p class="">Level 3 Certificate in Counselling Skills and Theory</p>
                    <p class="">Level 4 Diploma in Integrative Counselling</p>
                    <p class="">Diploma in Supervision</p>
                    <p class="">Certificate in Spiritual Care</p>
                    <p class="">Certificate in Cognitive Behavioural Therapy</p>
                    <p class="">Certificate in Solution-Focused Brief Therapy</p>
                </div>
            </div>
            <div class="flex flex-col items-center w-full md:w-1/2" aria-labelledby="keeping-you-safe">
                <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                    <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                </div>
                <div class="text-lg md:text-2xl font-bold my-4 text-center text-purple-900">Keeping You Safe</div>
                <div class="md:max-h-40 lg:max-h-20 space-y-2 text-center">
                    <p class="">I am a registered member (103666) of <a href="https://www.bacp.co.uk/" target="_blank" class="text-purple-700 hover:text-purple-400">BA​​CP</a> and adhere to its 
                        <a aria-label="BACP website Ethical Framework" href="https://www.bacp.co.uk/events-and-resources/ethics-and-standards/ethical-framework-for-the-counselling-professions/" target="_blank" class="text-purple-700 hover:text-purple-400">Ethical Framework</a>​</p>
                    <p class="">I receive regular clinical supervision</p>
                    <p class="">I hold appropriate public liability insurance</p>
                    <p class="">I am committed to regular Continuing Professional Development</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Pebble stepping stones image -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto px-4 md:px-0 flex flex-col justify-center w-full md:w-5/6 lg:w-3/4 xl:w-2/3" id="counselling">
            <div class="flex justify-center">
                <img src="{{ ('static/images/pebbles-background.jpg') }}" alt="pebble stepping stones">
            </div>
        </div>
    </section>
    <!-- What is counselling and Cycle image -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto p-8 text-center flex flex-col lg:flex-row items-center">
            <div class="pb-8 lg:pb-0 space-y-8 w-full" aria-labelledby="what-is-counselling">
                <div class="text-lg md:text-2xl font-bold my-2 text-purple-900">What is Counselling ?</div>
                <p class="lg:text-left">
                    The British Association for Counselling and Psychotherapy (BACP) defines counselling and psychotherapy as:
                </p>
                <p class="italic lg:text-left">
                    "...umbrella terms that cover a range of talking therapies. They are delivered by trained practitioners who 
                    work with people over a short or long term to help them bring about effective change or enhance their well-being."
                </p>
                <p class="lg:text-left">
                    The aim of a professionally trained counsellor is to help clients to uncover feelings, memories, judgements 
                    (self and by others) that are somehow preventing a more fulfilled, self-accepting life.
                </p>
            
                <p class="lg:text-left">
                    To anyone new to counselling this may sound a daunting prospect and the fear and anxiety of engaging with an ‘expert’ 
                    may seem overwhelming. Having sat in both chairs, so to speak, I understand the possible fears of being 'overpowered' 
                    as well as the dread of being judged. An effective and self-aware counsellor will work hard to ensure that she or he 
                    doesn't add to your difficulties by being judgemental or overbearing. However, these feelings can be useful areas for 
                    exploration.  
                </p> 
            </div>
            <div class="lg:pl-20 flex justify-center w-full lg:w-1/2">
                <img class="w-52 md:w-56 h-52 md:h-56" src="{{ ('static/images/what-is-counselling.png') }}" alt="Empathy, Congruence and Unconditional positive regard"> 
            </div>
        </div>
    </section>
    <!-- Pebbles stacked up image -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto px-4 md:px-0 flex flex-col justify-center w-full md:w-5/6 lg:w-3/4 xl:w-2/3" id="supervision">
            <div class="flex justify-center">
                <img src="{{ ('static/images/green-background.jpg') }}" alt="pebbles stacked up">
            </div>
        </div>
    </section>
    <!-- Supervision, staff care with BACP and Certified Counsellor logos -->
    <section class="bg-white">
        <div class="max-w-screen-xl mx-auto p-8 text-center flex flex-col lg:flex-row items-center">
            <div class="pb-8 lg:pb-0 space-y-8 w-full text-center">
                <div class="md:text-center" aria-labelledby="supervision-and-staff-care">
                    <div class="text-lg md:text-2xl font-bold mt-2 text-center pb-8 text-purple-900">Supervision and Staff Care</div>
                    <p class="lg:text-left">
                        Holding a Diploma in Clinical Supervision, I practice supervision and staff care within the professions of counselling 
                        and the education sector. My experience and expertise, coupled with my chosen approach (<a aria-label="Proctors Model" 
                        href="{{ url_for('proctors_model') }}" class="text-purple-700 hover:text-purple-400">Proctor’s Model 
                        of Clinical Supervision​</a>) enables my work to be fully transferable to other professions and disciplines. The ‘Restorative’ 
                        facet of the model is particularly effective in allowing an individual to feel empowered and valued - often all that is 
                        needed for emotional efficacy and enhanced motivation.
                    </p>
                </div>
                <div class="lg:text-left">
                    <p>
                        Working collaboratively*, we are able to:
                    </p>
                    <ul>
                        <li>Reflect on and review practice​</li>
                        <li>Discuss specific issues in depth</li>
                        <li>Identify training and CPD needs</li>
                        <li>Manage the emotional impact of work on the individual’s personal life and vice versa</li>
                        <li class="italic pt-2">* I recommend monthly supervision/staff care sessions</li>
                    </ul>
                </div>
                <div class="lg:text-left">
                    <p class="italic">
                        “Clinical supervision has been associated with higher levels of job satisfaction, improved retention, reduced turnover 
                        and staff effectiveness. Effective clinical supervision may increase employees’ perceptions of organisational support 
                        and improve their commitment to an organisation’s vision and goals. It is one way for a provider to fulfil their duty 
                        of care to staff.”
                    </p> 
                    <div class="text-xs font-bold non-italic pt-2">
                        <p>Care Quality Commission</p>
                        <p>Supporting effective clinical supervision</p>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/2 flex flex-col sm:flex-row lg:flex-col items-center sm:space-x-24 space-y-8 sm:space-y-0 lg:space-y-24 lg:space-x-0 lg:pl-20">
                <a aria-label="BACP website homepage" href="https://www.bacp.co.uk/" target="_blank" class="text-indigo-600 hover:text-indigo-800">
                    <img class="w-60 h-28" src="{{ ('static/images/bacp.png') }}" alt="BACP logo"> 
                </a>
                <a aria-label="" href="" target="_blank" class="text-indigo-600 hover:text-indigo-800" id="contact-form">​
                    <img class="w-52 h-52" src="{{ ('static/images/certified-counsellor.png') }}" alt="Certified Counsellor logo"> 
                </a>
            </div>
        </div>
    </section>
    <!-- Contact form -->
    <section class="bg-gradient-to-b from-lime-700 to-stone-500 via-lime-200">
        <form onsubmit="return sendMail(this);" method="post, get">
            <div class="max-w-screen-xl mx-auto p-8 space-y-8 md:space-y-0 flex flex-col md:flex-row">
                <div class="space-y-4 flex flex-col items-center md:w-1/2" aria-labelledby="contact-me">
                    <p class="text-lg md:text-2xl font-bold text-purple-900">
                        Contact Me
                    </p>
                    <div class="">
                        <input id="name" name="name" type="text" minlength="1" maxlength="100" class="validate w-80 px-1 rounded" placeholder="Name*" required>
                    </div>
                    <div class="">
                        <input id="email" name="email" type="email" minlength="1" maxlength="100" class="validate w-80 px-1 rounded" placeholder="Email Address*" required>
                    </div>
                    <div class="">
                        <input id="number" name="number" type="number" minlength="1" maxlength="11" pattern="^[a-zA-Z]{1,100}$" class="validate w-80 px-1 rounded" placeholder="Contact Number*" required>
                    </div>
                    <div class="">
                        <input id="age" name="age" type="number" minlength="1" maxlength="3" pattern="^[a-zA-Z]{1,100}$" class="validate w-80 px-1 rounded" placeholder="Age">
                    </div>
                    <div class="">
                        <textarea id="message" name="message" type="text" minlength="3" maxlength="200" pattern="^[a-zA-Z]{3,200}$" class="validate w-80 h-24 px-1 rounded" placeholder="Some information about you and why you are seeking counselling at this point (two or three words will do)"></textarea>
                    </div>
                    <div class="">
                        <button 
                            type="submit" value="submit"
                            class="bg-purple-700 hover:bg-purple-900 active:bg-purple-900 focus:outline-none focus:ring focus:ring-lime-700
                            text-white py-1 px-4 rounded-full"
                            >Take the step
                        </button>
                    </div>
                    <p class="font-semibold lg:text-lg">
                        Telephone: 07973 953528
                    </p>
                </div>
                <div class="space-y-4 text-center md:w-1/2" aria-labelledby="my-fees">
                    <p class="text-lg md:text-2xl font-bold text-purple-900">
                        My Fees
                    </p>
                    <p>
                        Counselling one to one from £45.00 per session
                    </p>
                    <p>
                        Supervision/Staff Care from £45.00 per session
                    </p>
                    <p>
                        Group counselling from £65.00 per session
                    </p>
                    <div class="flex flex-col items-center">
                        <div class="border-1 border-lime-700 border-b w-2/3"></div>
                    </div>
                    <div class="space-y-4 flex flex-col items-center">
                        <p class="">
                            All sessions are 50 minutes long with 10 minutes for my own reflection and note taking. 
                        </p>
                        <p class="">
                            I have reduced rates for students and people on reduced incomes/benefits. Please contact me for more information
                        </p>
                        <p class="">
                            I do not ask for proof as, from the outset, our relationship is built on trust
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="modal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content bg-purple-100">
                        <div class="modal-header">
                            <div class="modal-title">
                                <a aria-label="Home" href="{{ url_for('index') }}"><h1 class="text-2xl font-bold text-purple-900 hover:text-purple-700">thecouragetobe.org</h1></a>
                                <h2 class="font-medium text-purple-400">Brian Walsh Counselling</h2>
                            </div>
                        </div>
                        <div class="modal-body">
                            <p class="modal-message">Thank you for taking the first step. <br>I'll be in touch very soon, Brian"</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="bg-purple-700 hover:bg-purple-900 active:bg-purple-900 focus:outline-none focus:ring focus:ring-lime-700
                                text-white py-1 px-4 rounded-full" data-bs-dismiss="modal" id="closing-btn">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form> 
    </section>
    <!-- Back to top -->
    <div class="relative flex justify-center items-center md:hidden">
        <div
            class="absolute mx-2 right-0 flex items-center justify-center h-10 sm:h-12 w-10 sm:w-12
            bg-purple-700 rounded-full z-20 drop-shadow-lg">
            <a href="#home" aria-label="Slide Up" @click="swiper.slideUp()" class="z-20">
                <i class="fa-solid fa-chevron-up text-base sm:text-xl text-white"></i>
            </a>
        </div>
    </div>

{% endblock %}