{% extends "base.html" %}
{% block content %}
    <section id="home" class="bg-white">
        <div id="hero-image">
            <div class="max-w-screen-xl mx-auto px-8 pt-8 pb-40 text-left flex flex-col justify-center space-y-8"> 
            <!-- <div class="max-w-screen-xl mx-auto px-8 text-center h-96 lg:h-screen space-y-1 flex flex-col justify-center">  -->
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold">
                        Proctor’s 3 Function Interactive Model (1986/1992)
                    </h1>
                    <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                        <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                    </div>
                    <h1 class="text-lg md:text-2xl font-bold">
                        FORMATIVE FUNCTION (Learning)
                    </h1>   
                    <p>
                        Clinical supervision concerned with developing the skills, abilities and understandings of the supervisee
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold">
                        Proctor’s 3 Function Interactive Model (1986/1992)
                    </h1>
                    <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                        <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                    </div>
                    <h1 class="text-lg md:text-2xl font-bold">
                        FORMATIVE FUNCTION (Learning)
                    </h1>   
                    <p>
                        Clinical supervision concerned with developing the skills, abilities and understandings of the supervisee
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold">
                        Proctor’s 3 Function Interactive Model (1986/1992)
                    </h1>
                    <div class="w-36 h-36 rounded-full flex items-center justify-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                        <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                    </div>
                    <h1 class="text-lg md:text-2xl font-bold">
                        FORMATIVE FUNCTION (Learning)
                    </h1>   
                    <p>
                        Clinical supervision concerned with developing the skills, abilities and understandings of the supervisee
                    </p>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
