{% extends "base.html" %}
{% block content %}
<section id="home" class="bg-white">
    <div id="hero-image">
        <div class="max-w-screen-xl mx-auto px-8">
            <h1 class="text-lg md:text-2xl font-bold p-8 text-center text-purple-200" aria-labelledby="proctors-model">
                Proctor’s 3 Function Interactive Model (1986/1992)
            </h1>
            <div class="pb-96 lg:pb-40 lg:h-screen text-center flex flex-col lg:flex-row">
                <div class="pt-8 flex flex-col items-center space-y-8">
                    <div class="w-36 h-36 rounded-full flex flex-col items-center justify-center text-center bg-gradient-to-br from-violet-900 to-pink-800 via-pink-400">
                        <i class="fa-solid fa-graduation-cap text-6xl text-indigo-800"></i>
                    </div>
                    <div class="space-y-4">
                        <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="formative-function">
                            FORMATIVE FUNCTION <br><span class="text-purple-900">(Learning)</span>
                        </h1>
                        <div class="flex items-center justify-center">
                            <p class="lg:w-3/4">
                                Clinical supervision concerned with developing the skills, abilities and understandings of the supervisee 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-8 flex flex-col items-center space-y-8">
                    <div class="w-36 h-36 rounded-full flex flex-col items-center justify-center text-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                        <i class="fa-solid fa-circle-check text-6xl text-indigo-800"></i>
                    </div>
                    <div class="space-y-4">
                        <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="normative">
                            NORMATIVE <br><span class="text-purple-900">(Accountability)</span>
                        </h1>
                        <div class="flex items-center justify-center">
                            <p class="lg:w-3/4">
                                Clinical supervision concerned with maintaining and ensuring the safety and effectiveness of the supervisee’s practice work
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-8 flex flex-col items-center space-y-8">
                    <div class="w-36 h-36 rounded-full flex flex-col items-center justify-center text-center bg-gradient-to-b from-lime-700 to-stone-500 via-lime-200">
                        <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                    </div>
                    <div class="space-y-4">
                        <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="restorative-function">
                            RESTORATIVE FUNCTION <br><span class="text-purple-900">(Support)</span>
                        </h1>
                        <div class="flex items-center justify-center">
                            <p class="lg:w-3/4">
                                Clinical supervision concerned with how the supervisee responds emotionally to the stresses of the work
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}