{% extends "base.html" %}
{% block content %}
    <section id="home" class="bg-white">
        <div id="hero-image">
            <div class="max-w-screen-xl mx-auto px-8 pt-8 flex flex-col items-center lg:items-start">
                <div class="w-36 h-36 rounded-full flex flex-col items-center justify-center text-center bg-gradient-to-t from-sky-700 to-orange-200 via-gray-400">
                    <i class="fa-solid fa-shield-heart text-6xl text-indigo-800"></i>
                </div>
            </div>
            <div class="max-w-screen-xl mx-auto px-8 pt-8 pb-96 text-left flex flex-col justify-center space-y-8"> 
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="protecting-you">
                        Protecting You
                    </h1>
                    <p>
                        Under new GDPR regulations I am required by law to share with my clients the data that I hold on you. These Include: 
                        <ul class="px-8">
                            <li>- emails</li>
                            <li>- voicemail messages</li>
                            <li>- texts between us </li>
                            <li>- any written correspondence</li>
                        </ul>
                    </p>
                    <p>
                        Other digital records include my online diary/calendar system and records of payment, invoices etc. All electronic 
                        information is stored securely and/or on password protected devices.
                    </p>
                    <p>
                        Our contract and any document which contains your personal details (contact numbers etc.) are also stored electronically. 
                        If I have to use paper copies, these will always be anonymised and a client number will be assigned to you.
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="information-sharing">
                        Information Sharing
                    </h1>
                    <p>
                        I will not share any information with third parties unless you request this. We will discuss this if it arises.
                    </p>
                    <p>
                        If required, I may have to share some information for legal purposes. If this occurs, I will discuss this with you unless 
                        directed otherwise.
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="supervision">
                        Supervision
                    </h1>
                    <p>
                        I may discuss our work with my clinical supervisor. I will only use your first/given name and no contact details or addresses 
                        will be shared in this context.
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="period-of-retention">
                        Period of Retention
                    </h1>
                    <p>
                        Session notes and other documents will remain in an encrypted file and password protected for a period of five years from the 
                        end of our work and then permanently deleted. 
                    </p>
                </div>
                <div class="space-y-4">
                    <h1 class="text-lg md:text-2xl font-bold text-purple-900" aria-labelledby="ico">
                        ICO
                    </h1>
                    <p>
                        As a Registered Data Controller, I subscribe  to the 
                        <a aria-label="Proctors Model" href="https://ico.org.uk/" target="_blank" 
                        class="text-purple-700 hover:text-purple-900">Information Commissioner's Office​
                        </a> regulations. This body sets rules and 
                        guidelines regarding data protection and handling. My Registration number is <spam class="font-bold">ZA318034</spam>  

                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}