{% extends "base.html" %}
{% block content %}
<section id="home" class="bg-white">
    <div id="hero-image">
        <div class="max-w-screen-xl mx-auto px-8 pt-8 pb-40 text-left flex flex-col justify-center space-y-8"> 
        <!-- <div class="max-w-screen-xl mx-auto px-8 text-center h-96 lg:h-screen space-y-1 flex flex-col justify-center">  -->
            <div class="space-y-4">
                <h1 class="text-lg md:text-2xl font-bold">
                    Protecting You
                </h1>
                <p>
                    Under new GDPR regulations I am required by law to share with my clients the data that I hold on you. These Include: 
                    <ul class="px-8">
                        <li>- emails</li>
                        <li>- voicemail messages</li>
                        <li>- texts between us </li>
                        <li>- any written correspondence</li>
                    </ul>
                </p>
                <p>
                    Other digital records include my online diary/calendar system and records of payment, invoices etc. All electronic 
                    information is stored securely and/or on password protected devices.
                </p>
                <p>
                    Our contract and any document which contains your personal details (contact numbers etc.) are also stored electronically. 
                    If I have to use paper copies, these will always be anonymised and a client number will be assigned to you.
                </p>
            </div class="space-y-4">
            <div>
                <h1 class="text-lg md:text-2xl font-bold">
                    Information Sharing
                </h1>
                <p>
                    I will not share any information with third parties unless you request this. We will discuss this if it arises.
                </p>
                <p>
                    If required, I may have to share some information for legal purposes. If this occurs, I will discuss this with you unless 
                    directed otherwise.
                </p>
            </div>
            <div class="space-y-4">
                <h1 class="text-lg md:text-2xl font-bold">
                    Supervision
                </h1>
                <p>
                    I may discuss our work with my clinical supervisor. I will only use your first/given name and no contact details or addresses 
                    will be shared in this context.
                </p>
            </div>
            <div class="space-y-4">
                <h1 class="text-lg md:text-2xl font-bold">
                    Period of Retention
                </h1>
                <p>
                    Session notes and other documents will remain in an encrypted file and password protected for a period of five years from the 
                    end of our work and then permanently deleted. 
                </p>
            </div>
            <div class="space-y-4">
                <h1 class="text-lg md:text-2xl font-bold">
                    ICO
                </h1>
                <p>
                    As a Registered Data Controller, I subscribe  to the Information Commissioner's Office regulations. This body sets rules and 
                    guidelines regarding data protection and handling. My Registration number is ZA318034 
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}